::placeholder{
    color:rgba(133, 132, 132, 0.678);
    font-size: 1rem;
    font-weight: 500;
}

.contact-us{
    display: flex;
    flex-direction: column;

    &-title{
        text-align: center;
        color: $primary--color;
        display: flex;
        flex-direction: column;
    }

    &-title::after{
        content: " ";
        width: 2.2em;
        border-radius: 25px;
        height: 8px;
        background-color: $secondary--color;
        display: inline-block;
        margin: auto;
        margin-top: .8rem;
        margin-bottom: 1rem;
    }

    &-form{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1rem auto;

        input{
            margin: .5rem 0;
            border-radius: 25px;
            border: solid rgba(133, 132, 132, 0.678) 1px;
            padding: 1rem 1.3rem;
        }

        input:focus{
            outline: none;
        }
        textarea{
            margin: .5rem 0;
            border-radius: 25px;
            padding: 1rem 1.3rem;
            border: solid rgba(133, 132, 132, 0.678) 1px;
            font-size: 1rem;
            font-weight: 500;
        }

        textarea:focus{
            outline:none
        }
        
    }

    &-submit{
        padding: 1rem 2rem;
        width: 100%;
        margin: .5rem 0;
        border-radius: 25px;
        border: none;
        font-weight: 600;
        font-size: 1rem;
    }
}

