@import 'config';

*{
    box-sizing: border-box;
    margin: 0;
    font-family: $font-stack;
}
a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6rem;
    height: 100%;
    width: 100%;
    background-color: var(--body--bg-color);
    color: var(--body--text-color);
}

.container{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    padding: 0 5%;
}

.heading{
    font-family: $font-heading;
}

@media screen and (min-width: 768px){
    .container{
        padding: 0 10%;
    }

    section.hero{
        height:600px;
    }
}

@media screen and (min-width: 1024px) {
    .container{
        padding: 0 13%;
    }

    section.hero{
        height:700px;
    }
}
